*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
body{
  font-family: 'Nunito', sans-serif !important;
}
button.btn{
  display: none !important;
}
h1,h2,h3,h4,h5{
  font-size: 1.2rem !important;
}
input{
  display: none !important;
}
.breadcrumb{
  padding: .6rem !important;
}
ul{
  list-style-type: none;
}
.breadcrumb-container{
  display: none !important;
}
.lSSlideOuter {
  display: flex;
  padding: 5px !important;
  height: 100% !important;
}
.lSSlideWrapper {
  display: none !important;
}
.nav-tabs{
  display: none !important;
}
.nowosc {
  background-color: #ACDA72 !important;
}
.polecane, .produkty-dnia, .wyprzedaz, .promocja  {
  background-color: #db0303 !important;
}
th, td{
  padding: .4rem !important;
}
.tabs{
  padding-top: 10px;
  border-top: rgba(34, 34, 34, 0.12) solid 2px !important;
}
.product-info {
  margin-left: 5px;
}
.lSPager {
  width: 100% !important;
}
.lSPager li{
  width: 80% !important;
  margin: 0 auto !important;
  display: none !important;
  height: 100% !important;
}
.lSPager li.active{
  display: block !important;
}
.lSPager li a{
  width: 100%;
  height: 100% !important;
  display: block !important;
  position: relative;
}
.lSPager a img{
  max-width: 100%;
  height: auto;
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
}
.product-info {
  padding: 5px !important;
}
.print-page {
  display: none !important;
}
.router-link-exact-active {
  display: none !important;
}
.tab-pane{
  display: block !important;
  padding: 5px !important;
}
.tab-pane p, .tab-pane li{
  margin: .3rem 0 !important;
}
.badge {
  padding: .3rem !important;
  border: none !important;
}
.first-price{
  margin-top: 10px !important;
  color: #db0303 !important;
  font-size: 2.3rem !important;
  font-weight: bold !important;
}
.title{
  font-size: 1.6rem;
}
.first-price span {
  font-size: 1.2rem !important;
  color: black;
}
.product-price{
  padding: 15px !important;
  border-bottom: rgba(34, 34, 34, 0.12) solid 2px !important;
}
.product-cart{
  border-bottom: rgba(34, 34, 34, 0.12) solid 2px !important;
}
.tab-pane ul{
  padding-left: 40px !important;
  list-style-type: disc;
  margin-top: 1rem !important;
}
.tab-content{
  font-size: .8rem !important;
  padding: 10px !important;
}